@inherits LayoutComponentBase

<header class="header">

    <a href="#" class="logo"> <img src="./image/logo.png" alt=""> </a>

    <nav class="navbar">
        <a href="#home">Trang chủ</a>
        <a href="#about">Menu</a>
        <a href="#popular">Khuyến mãi</a>
        <a href="#popular">Nhà hàng</a>
        <a href="#menu">Đặt bàn</a>
        <a href="#order">Tuyển dụng</a>
    </nav>

    <div class="icons">
        <div id="menu-btn" class="fas fa-bars"></div>
        <div id="social" class="fab fa-facebook-f"></div>
        <div id="social" class="fab fa-instagram"></div>
        <div id="social" class="fab fa-twitter"></div>
    </div>
</header>

@Body

<!-- footer   -->

<section class="footer">


    <div class="box-container">

        <div class="box">
            <h3>our menu</h3>
            <a href="#"><i class="fas fa-arrow-right"></i> Combo Lẩu nướng</a>
        </div>

        <div class="box">
            <h3>quick links</h3>
            <a href="#home"> <i class="fas fa-arrow-right"></i> Trang chủ</a>
        </div>

        <div class="box">
            <h3>Thời gian mở cửa</h3>
            <p>T2 - Chủ nhật: 10:00am to 10:00pm</p>
        </div>

    </div>

</section>

<!-- footer end -->