<!-- Popular  -->

<section class="popular" id="popular">

    <div class="heading">
        <span>Bộ Sưu Tập</span>
        <h4 style="font-size:larger">Buffet đa dạng, phong phú 80+ món ăn từ thịt tươi ngọt mềm, hải sản tươi sống, rau xanh thanh đạm:</h4>
    </div>

    <div class="box-container">
        <div class="box">
            <div class="image">
                <img src="img/gallery/DSC05751.jpg" alt="">
            </div>
            <div class="content">
            </div>
        </div>
        <div class="box">
            <div class="image">
                <img src="img/gallery/DSC05660.jpg" alt="">
            </div>
            <div class="content">
            </div>
        </div>
        <div class="box">
            <div class="image">
                <img src="img/gallery/DSC05724.jpg" alt="">
            </div>
            <div class="content">
                <a href="/gallery" class="btn">Xem thêm hình ảnh</a>
            </div>
        </div>
    </div>

</section>

<!-- End Popular -->

@code {

}
