<!-- Popular  -->

<section class="popular" id="popular">

    <div class="heading">
        <span>Bộ Sưu Tập</span>
        <h4 style="font-size:larger">Buffet đa dạng, phong phú 80+ món ăn từ thịt tươi ngọt mềm, hải sản tươi sống, rau xanh thanh đạm:</h4>
    </div>

    <div class="box-container">
        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <div class="image">
                <img src="img/AnhWebp/Galery/SayakaGalery1.webp" alt="">
            </div>
            <div class="content">
                <h3>Salad hoa quả tươi</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <span> (50) </span>
                </div>
            </div>
        </div>
        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <div class="image">
                <img src="img/gallery/DSC05660.jpg" alt="">
            </div>
            <div class="content">
                <h3>Lẩu nướng song song</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
            </div>
        </div>
        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <div class="image">
                <img src="img/gallery/DSC05724.jpg" alt="">
            </div>
            <div class="content">
                <h3>Hải sản tươi ngon</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <span> (50) </span>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- End Popular -->

@code {

}
