<!-- Home  -->

<section class="home" id="home">

    <div class="content">
        <span>Wellcome to Sayaka</span>
        <h3>Nhà hàng lẩu nướng Nhật Bản</h3>
        <p>
            Nướng và lẩu Nhật Bản đã trở thành một “thương hiệu”, một xu hướng ẩm thực hấp dẫn đối với giới trẻ.
            Đây là một nét văn hóa tao nhã, độc đáo, đã làm mê mẩn nhiều thực khách trên nhiều quốc gia.
            Đỉnh cao của nghệ thuật chế biến và thưởng thức món ăn hết sức tinh tế của đất nước này.
        </p>
        <a href="#" class="btn">Đặt bàn ngay</a>
    </div>

    <div class="image">
        <img src="img/AnhWebp/Slide/SayakaSlide1.webp" alt="" class="home-img">
    </div>

</section>

<!-- End  -->
<!-- About  -->

<section class="about" id="about">

    <div class="image">
        <img src="./image/banner_main.webp" alt="">
    </div>

    <div class="content">
        <span>Câu chuyện về chúng tôi</span>
        <h3 class="title">Chào mừng bạn đến với Sayaka Buffet</h3>
        <p>Đã bao nhiêu lâu bạn chưa tụ họp cùng gia đình, bạn bè? Nếu đã quá lâu chưa tụ họp thì CUỐI TUẦN chính là một dịp vô cùng thích hợp để có thể gắn kết tình cảm của cả gia đình, với bạn bè. Vẫn còn phân vân chưa biết tổ chức tại đâu, thì SAYAKA chính là một địa điểm không thể bỏ lỡ vì quá ư là thích hợp để tổ chức liên hoan cuối tuần.</p>
        <p>Với không gian rộng rãi, gói buffet với hơn 80+ món nhúng, món nướng decor siêu xịn vô cùng thích hợp cho việc check-in, sống ảo nha. Ngoài ra SAYAKA còn có vô vàn ưu đãi cực hấp dẫn dành đến cho bạn và gia đình khi đến với chúng mình...</p>
        <a href="#" class="btn">Xem thêm</a>

    </div>

</section>

<!-- End About -->
@code {

}
