<!-- Order  -->

<section class="order" id="order">

    <div class="heading">
        <span>Đặt bàn ngay</span>
        <h3>Liên hệ với chúng tôi</h3>
    </div>

    <div class="icons-container">

        <div class="icons">
            <img src="image/icon-1.png" alt="">
            <h3>10:00am - 10:00pm</h3>
        </div>

        <div class="icons">
            <img src="image/icon-2.png" alt="">
            <h3>+84 93 332 23 58</h3>
        </div>

        <div class="icons">
            <img src="image/icon-3.png" alt="">
            <h3>Tầng 1, Lotte Gò Vấp, TP.HCM</h3>
        </div>

    </div>

    <form action="">

        <div class="flex">
            <div class="inputBox">
                <span>Họ và tên</span>
                <input type="text" name="" id="">
            </div>
            <div class="inputBox">
                <span>Số điện thoại</span>
                <input type="number" name="" id="">
            </div>
        </div>

        <div class="flex">
            <div class="inputBox">
                <span>Chi nhánh gần bạn</span>
                <input type="text" name="" id="">
            </div>
            <div class="inputBox">
                <span>Số lượng người</span>
                <input type="number" placeholder="number or orders" name="" id="">
            </div>
        </div>

        <div class="flex">
            <div class="inputBox">
                <span>your details</span>
                <input type="text" placeholder="your message" name="" id="">
            </div>
            <div class="inputBox">
                <span>Ngày đến</span>
                <InputDate @bind-Value="Day" />
            </div>
        </div>

        <input type="submit" value="Đặt bàn ngay" class="btn">

    </form>

</section>

<!-- Order end-->
@code {
    DateOnly Day { get; set; }
}
