<section class="popular" id="popular">

    <div class="box-container">
        @foreach(string item in pathImage)
        {
            <div class="box">
                <div class="image">
                    <img src=@item alt="">
                </div>
                <div class="content">
                </div>
            </div>            
        }
    </div>

</section>

@code {
    [Parameter] public List<string> pathImage { get; set; } = new();
}
